<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

<!-- CREATE COLOR =======================================-->
  <div id="user-side">
    <div class="header">
      <%= link_to '<button type="button"  id="logout">Logout</button>'.html_safe, logout_path, :method => 'delete'%>
      <h1 id="welcome">Welcome, <%= @current_user.username %>!</h1>
    </div>

    <div class="new-color">
      <h2>Create a new color?</h2>

      <%= form_for(:color, url: color_post_path, :method => 'post') do |f| %>
      <%= f.text_field :color_info, placeholder: "click", id: "picker", class: "jscolor {required:false, position:'right', width:101, padding:0, shadow:false,
    borderWidth:0, backgroundColor:'transparent', insetColor:'#000', hash:true, uppercase:false}" %><br>
      <%= f.text_field :color_name, placeholder: "Add Color Name" %><br>
      <%= f.submit "Create"%>
      <% end %>
    </div>

<!-- ALL YOUR COLORS =======================================-->
    <div class="your-colors">
      <div>
        <h2>Your Colors</h2>
      </div>
      <% @colors.each do |item| %>
        <div class="swatch" style="background-color: <%= item.color_info %>">
          <p><%= item.color_name %></p>
        </div>
      <% end %>
    </div>
  </div>

<!-- MAKE A POST =======================================-->
  <div id="feed-side">

      <div class="header">
      </div>

      <div class="new-posts">
        <h2>Share a color?</h2>
        <%= render partial: 'form' %>
      </div>

  <!-- ALL POSTS =======================================-->
      <div class="posts-feed">

        <div>
          <h2>Your Posts</h2>
        </div>

        <% @posts.each do |item| %>
          <div class="post">
            <br>
            Title: <%= item.title %>
            <br>
            Content: <%= item.content %>
          </div>
        <% end %>

      </div>

    </div>
  </body>
</html>
